// color
$white: #fff;
$pale-white: #f5f5f5;
$theme-dark: #113359;
$theme-color: #0d70d5;
$error: #dc3545;

// space
$space-xs: 10px;
$space-sm: 1rem;
$space-md: 4rem;

// font
$font-bold-xl: 800;
$font-bold-l: 700;
